#HeaderInput {
  vertical-align: baseline;
  border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#HeaderLabel {
  justify-content: flex-start;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

#IconCheck {
  cursor: pointer;
  border: none;
    background-color: #00c471;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    justify-content: center;
    margin-right: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
}